* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #272733;
  color: #FFFFFF;
  width: 100%;
  font-family: "Lato", system-ui;
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
  ul li {
    list-style: none;
  }
}
.wrapper {
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 80%;
  @media (min-width: 900px) {
      width: 850px;
  }
  @media (min-width: 1200px) {
    width: 1172px;
  }
}
